@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .btn-update-buytogether.is-active {
    @apply rotate-[360deg] duration-150 ease-linear;
  }

  .buyTogether-total.is-active:before,
  .card-accessory.is-active:before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px dotted gray;
    border-right-color: #ccc;
    animation: loadingUpdateBuyTogether 1s infinite;
    position: absolute;
    top: 37%;
    left: 43%;
    z-index: 999999;
  }

  @keyframes loadingUpdateBuyTogether {
    to {
      transform: rotate(360deg);
    }
  }

  .buyTogether-total.is-active:after,
  .card-accessory.is-active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
  }

  .result-search__paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  .is-overlay-search-results__suggestions {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(13, 79, 129, 0.6);
    position: fixed;
    left: 0;
    top: 190px;
  }

  .minicart-empty-container::-webkit-scrollbar {
    width: 5px;
    scrollbar-width: 5px;
  }
  .minicart-empty-container::-webkit-scrollbar-track {
    background: #f7f7f7;
    scrollbar-track-color: #999ba2;
  }
  .minicart-empty-container::-webkit-scrollbar-thumb {
    background-color: #134276;
    border-radius: 20px;
    border: 1px solid #134276;
    scrollbar-color: #134276;
    transition: all 0.275s linear;
  }
  .minicart-empty-container::-webkit-scrollbar-thumb:hover {
    background-color: #0a2544;
    transition: all 0.275s linear;
  }

  .product-card__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  .product-gallery .tag-promotion {
    top: -55px !important;
  }

  @media (min-width: 426px) and (max-width: 1023px) {
    .header-container > div {
      justify-content: flex-start !important;
    }
  }

  @media (min-width: 768px) {
    .header .container section > header {
      transition: all 0.175s linear;
    }

    .header:has(.menu-custom.hidden) .container section > header {
      transition: all 0.175s linear;
    }
  }

  @media (min-width: 1366px) and (max-width: 1439px) {
    .search-result-content > div {
      padding-left: 30px;
    }
  }

  @media (min-width: 1440px) {
    .search-result-content > div {
      padding-left: 70px;
    }
  }

  @media (max-width: 767px) {
    .slide-dot-custom {
      width: 320px !important;
      height: 300px !important;
    }

    .result-search__paragraph {
      -webkit-line-clamp: 1;
    }

    .is-overlay-search-results__suggestions {
      top: 230px;
    }

    .n1-teste {
      height: calc(100% - 160px);
    }

    .product-gallery .product-card__price--de,
    .product-gallery .product-card__name {
      font-size: 14px;
    }

    .product-gallery .product-card__price--por {
      font-size: 20px;
    }

    .product-gallery .product-card__tag--details {
      font-size: 12px !important;
      padding: 5px 7px !important;
    }

    .product-gallery .tag-promotion {
      top: -43px !important;
    }

    .product-gallery .tag-promotion p {
      font-size: 9px !important;
    }

    .product-gallery .product-card__price,
    .product-gallery .product-card__pix {
      display: block;
    }
  }

  @media (max-width: 1024px) {
    .container-menu__image {
      width: auto !important;
      height: auto !important;
    }
  }

  @media (max-width: 1280px) {
    .container-menu {
      width: 100%;
    }
  }

  @media (min-width: 1600px) {
    .search-result-content > div {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  @media (min-width: 1536px) {
    .search-result-content > div {
      padding-left: 0px;
    }
  }

  @media (min-width: 1920px) {
    .header-container {
      max-width: 100% !important;
    }

    .search-result-content > div {
      max-width: 1536px;
      margin: 0 auto;
    }
  }
}

@layer utilities {
  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-list::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-list::-webkit-scrollbar-track {
    background: #f1f1f3;
  }

  .scrollbar-list::-webkit-scrollbar-thumb {
    background: #d7d7da;
  }

  @keyframes slide-left-frame {
    0% {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-right-frame {
    0% {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-bottom-frame {
    0% {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

  .animate-slide-left {
    animation: slide-left-frame 0.4s ease normal;
  }

  .animate-slide-right {
    animation: slide-right-frame 0.4s ease normal;
  }

  .animate-slide-bottom {
    animation: slide-bottom-frame 0.4s ease normal;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

.readmore {
  @apply flex flex-col-reverse;
}

.readmore-label {
  @apply cursor-pointer uppercase text-emphasis;
}

.readmore-content {
  @apply line-clamp-6;
}

.readmore-toggle {
  @apply hidden;
}

.readmore-toggle:checked ~ .readmore-content {
  @apply line-clamp-none;
}

.readmore-toggle:checked ~ .readmore-label {
  visibility: hidden;
}

.readmore-toggle:checked ~ .readmore-label::before {
  content: "- Ler menos";
  visibility: visible;
}
